main.css
.bodyA{
	background-color:blue;
}
.headA{
	background-color: red;
}
.linksA{
	text-align:center;
	font-style: oblique;
	background-color: red;
	padding:2px 4px 2px 4px;
	border-width: 3 px;
	border-color: black;
	border-style: solid;
}
.overwiew{
	background-color:blue;
}
.overview1{
	background-color:blue;
	text-align:center;
	font-style: italic;
	font-size:25px;
	border-width: 3 px;
	border-color: black;
	border-style: dotted;
}
.bodyB{
	background-color:black;
}
.headB{
	background-color: red;
}
.linksB{
	text-align:center;
	font-style: oblique;
	background-color: red;
	padding:2px 4px 2px 4px;
	border-width: 3 px;
	border-color: black;
	border-style: solid;
}
.aboutme{
	background-color:blue;
}
.aboutme1{
	background-color:blue;
	text-align:center;
	font-style: italic;
	font-size:25px;
	border-width: 3 px;
	border-color: black;
	border-style: dotted;
}
.bodyC{
	background-color:green;
}
.headC{
	background-color: red;
}
.linksC{
	text-align:center;
	font-style: oblique;
	background-color: red;
	padding:2px 4px 2px 4px;
	border-width: 3 px;
	border-color: black;
	border-style: solid;
}
.contact{
	background-color:blue;
}
.contact1{
	background-color:blue;
	text-align:center;
	font-style: italic;
	font-size:25px;
	border-width: 3 px;
	border-color: black;
	border-style: dotted;
}
.bodyD{
	background-color:teal;
}
.headD{
	background-color: red;
}
.linksD{
	text-align:center;
	font-style: oblique;
	background-color: red;
	padding:2px 4px 2px 4px;
	border-width: 3 px;
	border-color: black;
	border-style: solid;
}
.works{
	background-color:blue;
}
.works1{
	background-color:blue;
	text-align:center;
	font-style: italic;
	font-size:25px;
	border-width: 3 px;
	border-color: black;
	border-style: dotted;
}
.bodyE{
	background-color:gray;
}
.headE{
	background-color: red;
}
.linksE{
	text-align:center;
	font-style: oblique;
	background-color: red;
	padding:2px 4px 2px 4px;
	border-width: 3 px;
	border-color: black;
	border-style: solid;
}
.gallery{
	background-color:blue;
}
.gallery1{
	background-color:blue;
	text-align:center;
	font-style: italic;
	font-size:25px;
	border-width: 3 px;
	border-color: black;
	border-style: dotted;
}
.avatar{
	text-align: center;
	padding: 10px 10px 10px 330px;
}